*{
    margin:0;
    padding: 0;
  font-family: "Chocolate Classical Sans", sans-serif;
    text-decoration: none;
}

body{
    /* height: 100vh; */
    text-align: center;
    /* padding: 0.1rem; */
}

.content{
    background: #1c92d2;  
    background: linear-gradient(to top, #1c92d2, #fdfdfd); 
    height: 100%;
}

.header-content{
    display: flex;
    justify-content: space-between;
    max-width: 1290px;
    margin: 0 auto;
    align-items: center;
    padding: 2rem;
}

/* .header{
    border:1px solid black
} */

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: #1b1b1b;
    gap:0.625rem;
}

.logo-icon{
    height:1.875rem;
    width:1.983;
}

.nav{    
    gap:1.5rem;
    display: none;
}
.nav-link{
    color:#718096;
    font-size:1.125rem;
    font-weight: 600;
    transition: color 0.1s;
}


.nav-link:hover{
    color: #1c92d2;
}


.contact-button {
    background-color: #1c92d2;
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    color: #f3fdff;
    transition: background-color 0.1s;
    font-size: 1rem;
    font-weight: 600;
    display: none; 
}

.contact-button:hover {
    background-color: #167cb3;
}

@media screen and (min-width:805px) {
    .nav{
        display: flex;
    }
    .contact-button{
        display: block;
    }
}




.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: #fdfafa;
    padding: 0.2rem 0.4rem;

}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width:805px) {
    .menu-button{
        display: block;
    }
}


.main-section{
    max-width: 1290px;
    display: flex;
    flex-direction:column;
    gap:2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}


.content-left{
    text-align: center;
    animation:slideFromLeft 1s ease forwards;
    opacity: 0;
    display: flex;
    flex-direction:column;
}


@keyframes slideFromLeft{
    0%{
        opacity:0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform:translateX(0);
    }
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: #1c92d2;
}

.section-title{
    font-size: 3.6rem;
    padding: 1.1rem;
    color: black;
}

.section-description{
    color: gray;
    font-size: 1.13rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.tour-button{
    
    border: none;
    border-radius: 0.375rem;
    background-color: #1c92d2;
    color: #f3fdff;
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button{
    background-color: rgb(26, 25, 25);
}

.start-button:hover{
    background-color: #167cb3;
}

.tour-button:hover{
    background-color:rgb(78, 78, 78);
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
}


@media screen and (min-width:805px) {
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section_label{
        font-size: 1rem;
    }
    .section-title{
        padding-left: 0;
        font-size: 3.8rem;
    }
    .section-description{
        font-size: 1.1rem;
        color: gray;
        width: 78%;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    
    .image-container{
        height: 67vh;
    }
}




.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation:slideFromLeft 0.5s ease forwards;
}


.company-title{
    font-size: 2rem;
}


.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:3.6rem;
    padding: 1rem;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
}

.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: gray;
    display: flex;
    gap: 0.5rem;
}

.svg-img{
    height: 1.56rem;
}

.logo-txt{
    font-size: 1.5rem;
}

@media screen and (min-width:700px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
}

.feature-container{
    background-color: rgb(217, 239, 253);
    padding: 2.5rem 0;
    text-align: center;
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 2.2rem;
    font-weight: bold;
}

.main-description{
    color: gray;
    font-size: 1.3rem;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 2.5rem;
    gap:3rem;
    
}
.icon-container{
    background-color: #ffffff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.feature-svg{
    height: 1.6rem;
    width: 1.6rem;
}

.feature-card{
    /* border:1px solid black; */
    border-radius: 0.7rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    transition: transform 0.3s;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-title{
    font-weight: bolder;
    font-size: 1.4rem;
    color: white;
}

.feature-description{
    color: white;
}



.feature-card:nth-child(1){
    background-color: #4a90e2;
}

.feature-card:nth-child(2){
    background-color: #FF6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}

.feature-card:nth-child(6){
    background-color: #7d78b1;
}


@media screen and (min-width:750px) {
    .feature-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:1260px) {

    .feature-grid{
        grid-template-columns: repeat(3,1fr);
    }
    .feature-content{
        max-width: 1260px;
    }
}


.feature-card:hover{
    transform: scale(1.1);
}